---
import Link from '../components/link.astro'
import Chapter from '../components/generated/chapter.astro'

import { readFile } from 'node:fs/promises'

const href = Astro.request.url.pathname
const isIndex = href === "/docs/" || href === "/docs"
const url = new URL(`../pages${isIndex ? "/docs/index" : href}.md`, import.meta.url);
const markdown = await readFile(url, {
    encoding: 'utf-8'
})

const chapters = markdown.match(/^(#{1,3}.*)/gm) || []

const { content } = Astro.props
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{`${content.title} - Niku documentation`}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="theme-color" content="#fff">

    <!-- Search Engine -->
    <meta name="title" content={`${content.title} - Niku documentation`}>
    <meta name="description" content="Compose Flutter UI from utilies Widget and extensions with dot cascade. Fluently developing without headache and Nested Hell. Niku: Create Flutter UI, Easier, Faster, Smarter">
    <meta name="author" content="saltyaom">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⾁</text></svg>" />

    <!-- Open Graph -->
    <link rel="canonical" href="https://v2.niku.saltyaom.com">
    <meta property="og:title" content={`${content.title} - Niku documentation`}>
    <meta property="og:description" content="Compose Flutter UI from utilies Widget and extensions with dot cascade. Fluently developing without headache and Nested Hell. Niku: Create Flutter UI, Easier, Faster, Smarter">
    <meta property='article:author' content="saltyaom">
    <meta property='og:site_name' content="Niku Documentation">
    <meta property="og:image" content="https://v2.niku.saltyaom.com/assets/og.jpg">
    <meta property="og:image:width" content="1920">
    <meta property="og:image:height" content="1080">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content={`${content.title} - Niku documentation`}>
    <meta name="twitter:description" content="Compose Flutter UI from utilies Widget and extensions with dot cascade. Fluently developing without headache and Nested Hell. Niku: Create Flutter UI, Easier, Faster, Smarter">
    <meta name="twitter:site" content="@saltyaom">
    <meta name="twitter:image" content="https://v2.niku.saltyaom.com/assets/og.jpg">
    <meta name="twitter:creator" content="@saltyaom">
    
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
    <link rel="stylesheet" href={Astro.resolve('../styles/onenight.css')}>

    <style lang="sass" global>
        #doc
            @apply flex gap-8 w-full max-w-7xl mx-auto py-8 gap-4 lg:gap-8

        #aside,
        #on-this-page
            @apply sticky top-24 flex flex-col self-start text-gray-500 max-w-[24ch] text-sm w-full overflow-y-scroll
            height: calc(100vh - 6rem)

            & > h4 
                @apply text-sm font-semibold px-4 py-2

                &:not(:first-child)
                    @apply mt-6

            & > a
                @apply pl-4 py-2 border-l border-gray-200 rounded-r

                &:hover,
                &:focus,
                &.-active
                    @apply font-medium bg-blue-100/50 text-blue-500 border-blue-500

        #aside
            @apply fixed lg:sticky top-14 lg:top-24 left-0 z-20 max-w-full lg:max-w-[24ch] h-screen bg-white lg:bg-transparent hidden lg:flex px-4 py-6 lg:py-0 lg:px-0 text-lg lg:text-sm

            &.-active
                @apply flex

        #on-this-page
            @apply hidden md:flex min-w-[18ch]

        #heading
            @apply contents

            & > .title
                @apply text-5xl font-medium text-black py-2

        #article
            @apply flex flex-col gap-4 text-lg w-full max-w-[52ch] lg:max-w-[56ch] text-gray-600 whitespace-pre-line w-full leading-7 mx-auto px-4

            & > h1,
            & > h2,
            & > h3
                @apply scroll-mt-16

            & > h1
                @apply text-4xl text-black font-medium mt-4

            & > h2
                @apply text-3xl text-black font-medium mt-4

            & > h3
                @apply text-3xl text-gray-800 font-bold font-medium border-t pt-4

                & > code
                    @apply text-sm
            
            & > p > code,
            & > h3 > code
                @apply font-sans text-blue-500 p-1 bg-blue-100/50 rounded

            & > pre
                @apply text-sm leading-6 p-4 rounded

            & > a,
            & > * > a
                @apply text-blue-500 underline px-1 py-0.5 rounded

            & > ul
                @apply flex flex-col gap-2
                list-style-type: circle

        #nav
            @apply sticky top-0 z-30 flex justify-center w-full h-14 bg-white border-b border-b-gray-200

            & > .body
                @apply flex justify-between items-center w-full max-w-7xl h-full px-4

                & > .header
                    @apply flex items-center gap-3

                    & > .title
                        @apply text-xl font-medium

                    & > .select
                        @apply appearance-none text-sm font-light text-gray-700 px-4 py-1 bg-gray-100 rounded-full    

        #toggle
            @apply block lg:hidden text-gray-600

        #footer
            @apply flex justify-between mt-4

            & > a
                @apply no-underline capitalize
    </style>
</head>
<body>
    <nav id="nav">
        <div class="body">
            <header class="header">
                <button id="toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                </button>

                <a href="/" class="title">Niku</a>
                <select id="version" class="select">
                    <option>v2</option>
                    <option>v1</option>
                </select>
                <script>
                    document.getElementById("toggle").onclick = function() {
                        document.getElementById("aside").classList.toggle("-active");
                    }

                    document.getElementById('version').onchange = function(event) {
                        if(event.target.value === "v1") {
                            window.location.href = "https://niku.saltyaom.com"
                        }
                    }
                </script>
            </header>
            <div class="content">
                <a class="text-gray-400" href="https://github.com/saltyaom/niku" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
                </a>
            </div>
        </div>
    </nav>
    <main id="doc">
        <aside id="aside">
            <h4>Getting Start</h4>
            <Link href="/docs/">Introduction</Link>
            <Link href="/docs/quickstart">Quickstart</Link>
            <Link href="/docs/hook">Hook</Link>
            <Link href="/docs/parent">Parent</Link>
            <Link href="/docs/what-next">What's next</Link>

            <h4>Advance Concept</h4>
            <Link href="/docs/extending-niku">Extending Niku</Link>
            <Link href="/docs/custom-widget">Custom Widget</Link>
            <Link href="/docs/macro">Macro</Link>
            <Link href="/docs/repaint">Repaint</Link>
            <Link href="/docs/use-query">useQuery</Link>

            <Chapter />
        </aside>

        <article id="article">
            <header id="heading">
                <h1 class="title">{content.title}</h1>
            </header>

            <slot />

            {content.prev || content.next ? 
                <footer id="footer">
                    {content.prev ? 
                        <a href={`/docs/${content.prev}`}>{content.prev.split("-").join(" ")}</a>
                    : <div /> }
                    {content.next ? 
                        <a href={`/docs/${content.next}`}>{content.next.split("-").join(" ")}</a>
                    : <div /> }
                </footer>
                : null
            }
        </article>

        <aside id="on-this-page">
            <h4>On this page</h4>
            {chapters.map(chapter => {
                const title = chapter.replaceAll("#", '').trimStart()
                const href = title
                                .toLowerCase()
                                .replaceAll(' ', '-')
                                .replaceAll('`', '')
                                .replaceAll(':', '')

                return <Link href={`#${href}`}>{title}</Link>
            })}
        </aside>
    </main>
</body>
</html>
